* {
    font-family: Roboto, sans-serif;
}
body {
	background-image: url("../img/bg-lightl-904.jpg");
}
.center {
	text-align: center;
	padding-right: 8%;
}
.heading {
    padding: 10px 0;
    color: #11931b;
    text-align: center;
}
li {
    padding: 10px;
    text-underline: none;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    font-weight: bold;
}