.margin {
	margin: 8px 0;
}

.home {
    position: absolute;
    display: inline-block;
    padding: 10px 20px;
    margin: 5px;
    color: black;
    border: 1px solid #1eb80b;
    font-family: verdana, serif;
    margin-top: 20px;
    z-index: 1000;
}
.home:hover {
    background: #8db80b66;
}